{% extends 'base.html' %}
{% block content %}

    <div class="hero">
      <div class="hero-slide">
        <div
          class="img overlay"
          style="background-image: url('static/images/hero_bg_3.jpg')"
        ></div>
        <div
          class="img overlay"
          style="background-image: url('static/images/hero_bg_2.jpg')"
        ></div>
        <div
          class="img overlay"
          style="background-image: url('static/images/hero_bg_1.jpg')"
        ></div>
      </div>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center">
              <div class="" style="height:100px;"></div>
            <div class="row mt-4 mb-4 p-4">
                <div class="col-md-6 m-auto">
                    <div class="card card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
<!--                            <div class="form-group">-->
<!--                                <label for="logo">logo</label>-->
<!--                                <input type="file" name="logo" id="logo" class="form-control">-->
<!--                            </div>-->
<!--                            <div class="form-group mt-4 mb-4">-->
<!--                                <label for="nom">nom</label>-->
<!--                                <input type="text" name="nom" id="nom" class="form-control" >-->
<!--                            </div>-->
                            <button class="btn btn-primary" type="submit">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

