<nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="{% url 'acceuil' %}" class="logo m-0 float-start">Teranga Vol</a>

            <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
              <li class="active"><a href="{% url 'acceuil'%}">Acceuil</a></li>
<!--              <li class=""><a href="{% url 'vol' %}">Vol</a></li>-->
              <li><a href="{% url 'vol'%}">Trajet</a></li>
              <li><a href="{% url 'compagnie'%}">Compagnie</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
            <a href="#" class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none" data-toggle="collapse" data-target="#main-navbar">
            </a>
          </div>
        </div>
      </div>
    </nav>